<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Achieve</title>
  <%- include('../includes/require-stylesheets'); %>
</head>
<body>
  <%- include('../includes/navbar', {page: "home"}); %>

  <div class="container">
    <app-root></app-root>
  </div>

  <%- include('../includes/require-javascripts'); %>
</body>
</html>
