<%- include('../includes/page-header'); %>

  <%- include('../includes/bootstrap-stylesheets'); %>
  <link rel="stylesheet" href="assets/stylesheets/index.css">

  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-4">Achieve</h1>
      <p class="lead">Welcome to Achieve. Ready to make your dreams a reality?</p>
      <hr class="my-4">
      <p class="lead">
        <a href="/signin" class="btn btn-primary btn-lg">Sign In</a>
        <a href="/register" class="btn btn-success btn-lg">Register</a>
      </p>
    </div>
  </div>


  <%- include('../includes/bootstrap-javascripts'); %>

<%- include('../includes/page-footer'); %>
